<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/products.js" defer type="module"></script>
    <script src="/js/cart_post.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/">Főoldal</a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/cart"><i class="fa-solid fa-basket-shopping" style="font-size:35px;color:white;margin:0;"></i></a>
                </li>
                <li>
                    <a href="/login"><i class="fa fa-sign-in" style="font-size:40px;color:white;margin: 0;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Számítógépház</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/index" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                        <a href="/case" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product-1 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case1.png">
                        <img src="/img/products/case/case1.png" alt="Case1">
                    </picture>
                    <h1>NZXT H6 Flow RGB | CC-H61FB-R1</h1>
                    <div class="price-cart">
                        <p class="price">46,740 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-2 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case2.png">
                        <img src="/img/products/case/case2.png" alt="Case2">
                    </picture>
                    <h1>NZXT H6 Flow | CC-H61FB-01 | Compact Dual-Chamber Mid-Tower Airflow Case</h1>
                    <div class="price-cart">
                        <p class="price">38,085 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-3 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case3.png">
                        <img src="/img/products/case/case3.png" alt="Case3">
                    </picture>
                    <h1>GAMDIAS ATX Mid Tower Gaming Computer PC Case </h1>
                    <div class="price-cart">
                        <p class="price">20,310 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-4 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case4.png">
                        <img src="/img/products/case/case4.png" alt="Case4">
                    </picture>
                    <h1>Antec NX200 M, Micro-ATX Tower, Mini-Tower Computer Case</h1>
                    <div class="price-cart">
                        <p class="price">24,230 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-5 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case5.png">
                        <img src="/img/products/case/case5.png" alt="Case5">
                    </picture>
                    <h1>MUSETEX ATX PC Case,5 PWM ARGB Fans Pre-Installed</h1>
                    <div class="price-cart">
                        <p class="price">38,085 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-6 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case6.png">
                        <img src="/img/products/case/case6.png" alt="Case6">
                    </picture>
                    <h1>ASUS TUF Gaming GT501 Mid-Tower Computer Case</h1>
                    <div class="price-cart">
                        <p class="price">54,450 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-7 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case7.png">
                        <img src="/img/products/case/case7.png" alt="Case7">
                    </picture>
                    <h1>MUSETEX ATX PC Case, 6 PWM ARGB Fans Pre-Installed</h1>
                    <div class="price-cart">
                        <p class="price">41,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-8 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case8.png">
                        <img src="/img/products/case/case8.png" alt="Case8">
                    </picture>
                    <h1>MSI Premium Mid-Tower PC Gaming Case</h1>
                    <div class="price-cart">
                        <p class="price">54,590 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-9 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case9.png">
                        <img src="/img/products/case/case9.png" alt="Case9">
                    </picture>
                    <h1>AMANSON ATX PC Case,Mid-Tower USB 3.0 Gaming 270° Full View Tempered Glass Mid Tower</h1>
                    <div class="price-cart">
                        <p class="price">33,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>