<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" href="/styles/final.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/final.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/index-login"><%= name %></a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop-login">Webshop<a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/cart-login"><i class="fa-solid fa-basket-shopping" style="font-size:35px;color:white;margin:0;"></i></a>
                </li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="log-out"><i class="fa fa-arrow-right-from-bracket" style="font-size:35px;color:white;margin:0;"></i></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-final">
        <div class="final-form-div">
            <form action="/final-login" method="GET" class="final-form">
                <div class="label">
                    <i class="fa fa-money-bills"></i>
                    <span class="data">Számlázási adatok</span>
                </div>
                <input type="text" name="name" id="name" placeholder="Név" class="kivetel">
                <ul class="inputs">
                    <li><input type="number" name="name" id="ISZ" placeholder="Irányítószám"></li>
                    <li><input type="text" name="city" id="city" placeholder="Város"></li>
                    <li><input type="text" name="address" id="address" placeholder="Cím"></li>
                </ul>
                <button class="final-button">Véglegesítés</button>
            </form>
        </div>
        <div class="products"></div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>