<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/products.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/index-login"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/index-login"><%= name %></a></li>
                <li><a href="/index-login#strengths">Erősségek</a></li>
                <li><a href="/index-login#about-us">Bemutatkozás</a></li>
                <li><a href="/index-login#references">Referenciák</a></li>
                <li><a href="/webshop-login">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/cart-login"><i class="fa-solid fa-basket-shopping" style="font-size:35px;color:white;margin:0;"></i></a>
                </li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="log-out"><i class="fa fa-arrow-right-from-bracket" style="font-size:35px;color:white;margin:0;"></i></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Videókártyák</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/index-login" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard-login" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu-login" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                        <a href="/gpu-login" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram-login" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd-login" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd-login" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power-login" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case-login" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product1">
                    <img src="/img/products/gpu/gpu1.png" alt="GPU1">
                    <h1>GIGABYTE GeForce RTX 3060</h1>
                    <div class="price-cart">
                        <p class="price">130,450 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product2">
                    <img src="/img/products/gpu/gpu2.png" alt="GPU2">
                    <h1>ASUS Dual GeForce RTX 4060 Ti</h1>
                    <div class="price-cart">
                        <p class="price">141,950 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product3">
                    <img src="/img/products/gpu/gpu3.png" alt="GPU3">
                    <h1>GIGABYTE GeForce RTX 4070 Ti</h1>
                    <div class="price-cart">
                        <p class="price">270,040 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product4">
                    <img src="/img/products/gpu/gpu4.png" alt="GPU4">
                    <h1>ASUS NVIDIA GeForce RTX 3050</h1>
                    <div class="price-cart">
                        <p class="price">83,080Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product5">
                    <img src="/img/products/gpu/gpu5.png" alt="GPU5">
                    <h1>ASUS NVIDIA GeForce RTX 4070 </h1>
                    <div class="price-cart">
                        <p class="price">225,030 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product6">
                    <img src="/img/products/gpu/gpu6.png" alt="GPU6">
                    <h1>AMD Radeon RX 6600</h1>
                    <div class="price-cart">
                        <p class="price">72,700 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product7">
                    <img src="/img/products/gpu/gpu7.png" alt="GPU7">
                    <h1>AMD Radeon RX 6700 XT</h1>
                    <div class="price-cart">
                        <p class="price">114,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product8">
                    <img src="/img/products/gpu/gpu8.png" alt="GPU8">
                    <h1>AMD Radeon RX 6800 </h1>
                    <div class="price-cart">
                        <p class="price">145,630 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product9">
                    <img src="/img/products/gpu/gpu9.png" alt="GPU9">
                    <h1>AMD Radeon RX 6750XT </h1>
                    <div class="price-cart">
                        <p class="price">131,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>