<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/webshop.css">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <script src="../js/script.js" defer></script>
    <script src="../js/products.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="../img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/">Főoldal</a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/login"><i class="fa fa-sign-in" style="font-size:40px;color:white;margin:0;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Merevlemez</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                        <a href="/hdd" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product1">
                    <img src="../img/products/hdd/hdd1.png" alt="HDD1">
                    <h1>Seagate BarraCuda 2TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">29,520 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product2">
                    <img src="../img/products/hdd/hdd2.png" alt="HDD2">
                    <h1>Seagate IronWolf Pro, 4 TB, Enterprise NAS Internal HDD</h1>
                    <div class="price-cart">
                        <p class="price">53,660 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product3">
                    <img src="../img/products/hdd/hdd3.png" alt="HDD3">
                    <h1>Seagate BarraCuda 4TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">29,420 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product4">
                    <img src="../img/products/hdd/hdd4.png" alt="HDD4">
                    <h1>Western Digital 8TB WD Blue PC Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">45,010 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product5">
                    <img src="../img/products/hdd/hdd5.png" alt="HDD5">
                    <h1>Seagate FireCuda HDD 8TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">58,510 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product6">
                    <img src="../img/products/hdd/hdd6.png" alt="HDD6">
                    <h1>Western Digital 10TB WD Red Plus NAS Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">68,550 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product7">
                    <img src="../img/products/hdd/hdd7.png" alt="HDD7">
                    <h1>Seagate IronWolf 12TB NAS Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">79,290 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product8">
                    <img src="../img/products/hdd/hdd8.png" alt="HDD8">
                    <h1>Seagate IronWolf Pro 22TB Enterprise NAS Internal HDD Hard Drive</h1>
                    <div class="price-cart">
                        <p class="price">120,380 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product9">
                    <img src="../img/products/hdd/hdd9.png" alt="HDD9">
                    <h1>WD 5TB Elements Portable HDD, External Hard Drive</h1>
                    <div class="price-cart">
                        <p class="price">41,560 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1"target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>