<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer type="module"></script>
    <script src="/js/test.js" defer type="module"></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/">Főoldal</a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/login"><i class="fa fa-sign-in" style="font-size:40px;color:white;margin:0;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-site" id="main-site">
            <h1 class="header"><b>PCY</b> - Az első hely gépalkatrészek vásárlására</h1>
            <iframe src="https://www.youtube.com/embed/k448KWq569w" title="YouTube video
                player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                picture-in-picture" allowfullscreen></iframe>
        </section>
        <section class="strengths" id="strengths">
            <h2>Erősségek</h2>
            <div class="strengths-text">
                <img src="/img/strengths.jpg" alt="IT" title="IT">
                <ul>
                    <li>Személyre szabott szolgáltatás</li>
                    <li>Minőségi alkatrészek</li>
                    <li>Szakértői csapat</li>
                </ul>
            </div>
        </section>
        <section class="about-us" id="about-us">
            <h2>Információk rólunk</h2>
            <div class="person1">
                <img src="/img/person1.jpg" alt="Ádám" title="Ádám">
                <p>
                    <b>Tóth Ádám</b><br><br>
                    Sziasztok, én vagyok Ádám, aki számítógépek szívében otthon van. Már fiatal kora óta érdeklődöm a
                    technológia iránt, és ez a szenvedélyem vált életem középpontjává. Számítógépek szerelésével és
                    optimalizálásával foglalkozom, és mindig keresem azokat a legújabb fejlesztéseket, amelyekkel még
                    hatékonyabbá és erőteljesebbé tehetem a gépeket. Emellett rendszeresen frissítem tudásomat az
                    informatika terén, hogy mindig lépést tartsak az új trendekkel és technológiákkal.
                </p>
            </div>
            <div class="person2">
                <p>
                    <b>Tóth László</b><br><br>
                    Sziasztok, László vagyok, és a számítástechnika világában található összetett kihívások iránti
                    szenvedély hajt. A számítógépek szerelése és karbantartása mellett a szoftverfejlesztés és a
                    kiberbiztonság terén is jártas vagyok. Rendszeresen dolgozom olyan projekteken, amelyek ötvözik a
                    számítógép hardver és szoftver elemeit, és mindig arra törekszem, hogy új, innovatív megoldásokat
                    találjak a mindennapi problémákra. Az informatikai világ folyamatos változásában én azokat a
                    lehetőségeket látom, amelyek segítségével fejlődhetünk és előre léphetünk.
                </p>
                <img src="/img/person2.jpg" alt="László" title="László">
            </div>
        </section>
        <section class="references" id="references">
            <h2>Referenciák</h2>
            <div class="reference-text">
                <div class="reference">
                    <h3>InnovateTech Zrt.</h3>
                    <p>
                        Innovatív technológiai megoldásokat keresve, a InnovateTech választotta a PCY-t a
                        munkaállomásaik és
                        szervereik összeállítására. A megbízhatóság és a személyre szabott megközelítésünk segített a
                        vállalatnak hatékony és kifinomult informatikai rendszert kiépíteni.
                    </p>
                    <div class="rating rating-fix">
                        <span class="rating-number">4.5</span>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa checked">&#xf123;</span>
                        </div>
                    </div>
                </div>
                <div class="reference">
                    <h3>EduSys Iskolarendszer Kft.</h3>
                    <p>
                        Az EduSys az oktatási szektorban tevékenykedik, és a PCY segített nekik a diákigényeknek
                        megfelelő, erőteljes számítógépek beszerzésében. A személyre szabott megoldásoknak köszönhetően
                        az EduSys hatékonyan tudja támogatni a digitális oktatási platformját.
                    </p>
                    <div class="rating">
                        <span class="rating-number">4.0</span>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star" style="font-size: 2rem;"></span>
                        </div>
                    </div>
                </div>
                <div class="reference">
                    <h3>MediCare Egészségügyi Szolgáltató Kht.</h3>
                    <p>
                        A MediCare egészségügyi rendszerének fejlesztése során a PCY biztosította a megbízható és
                        biztonságos számítógépeket. Az egészségügyi adatok kezeléséhez szükséges speciális
                        követelményeket figyelembe véve személyre szabott informatikai megoldásokat biztosítottunk a
                        MediCare számára.
                    </p>
                    <div class="rating rating-fix">
                        <span class="rating-number">5.0</span>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
                <div class="reference">
                    <h3>TechPulse Solutions</h3>
                    <p>
                        A TechPulse Solutions a PCY csapatát választották, hogy segítsen a digitális átalakulásban, 
                        és nem csalódtak. Kiválóan képzett szakértőik és innovatív megközelítésük révén sikerült
                        hatékonyan optimalizálni az üzleti folyamataikat. Az általuk kifejlesztett szoftvermegoldások
                        és konzultációs szolgáltatások egyaránt kimagasló minőségűek. A PCY a Techpulse Solution számára nem csupán
                        technológiai partner, hanem megbízható vezető az innováció terén.
                    </p>
                    <div class="rating">
                        <span class="rating-number">4.5</span>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa checked">&#xf123;</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1"target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log out</button>
    </form>
</body>

</html>