<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/products.js" defer></script>
    <script src="/js/cart.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/index-login"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/index-login">Főoldal</a></li>
                <li><a href="/index-login#strengths">Erősségek</a></li>
                <li><a href="/index-login#about-us">Bemutatkozás</a></li>
                <li><a href="/index-login#references">Referenciák</a></li>
                <li><a href="/webshop-login">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="log-out"><i class="fa fa-arrow-right-from-bracket" style="font-size:40px;color:white;margin:0;"></i></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Alaplap</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/index-login" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                        <a href="/motherboard-login" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu-login" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu-login" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram-login" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd-login" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd-login" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power-login" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case-login" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product1">
                    <img src="/img/products/motherboard/motherboard1.png" alt="Motherboard1">
                    <h1>Gigabyte B550 Gaming X V2</h1>
                    <div class="price-cart">
                        <p class="price">45,000 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product2">
                    <img src="/img/products/motherboard/motherboard2.png" alt="Motherboard2">
                    <h1>Asus ROG Strix B550-F</h1>
                    <div class="price-cart">
                        <p class="price">65,700 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product3">
                    <img src="/img/products/motherboard/motherboard3.png" alt="Motherboard3">
                    <h1>ASUS PRIME B760M</h1>
                    <div class="price-cart">
                        <p class="price">43,200 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product4">
                    <img src="/img/products/motherboard/motherboard4.png" alt="Motherboard4">
                    <h1>Gigabyte B550 AORUS ELITE AX V2</h1>
                    <div class="price-cart">
                        <p class="price">55,340 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product5">
                    <img src="/img/products/motherboard/motherboard5.png" alt="Motherboard5">
                    <h1>MSI B550-A PRO ProSeries</h1>
                    <div class="price-cart">
                        <p class="price">41,500 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product6">
                    <img src="/img/products/motherboard/motherboard6.png" alt="Motherboard6">
                    <h1>MSI MAG B550 TOMAHAWKH</h1>
                    <div class="price-cart">
                        <p class="price">55,350 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product7">
                    <img src="/img/products/motherboard/motherboard7.png" alt="Motherboard7">
                    <h1>ASUS ROG Strix Z790</h1>
                    <div class="price-cart">
                        <p class="price">124,540 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product8">
                    <img src="/img/products/motherboard/motherboard8.png" alt="Motherboard8">
                    <h1>ASUS TUF Gaming Z590-Plus</h1>
                    <div class="price-cart">
                        <p class="price">65,380 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product9">
                    <img src="/img/products/motherboard/motherboard9.png" alt="Motherboard9">
                    <h1>ASRock B450M-HDV2</h1>
                    <div class="price-cart">
                        <p class="price">27,670 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1"target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>