<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/products.js" defer></script>
    <script src="/js/cart_post.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/index-login"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/index-login"><%= name %></a></li>
                <li><a href="/index-login#strengths">Erősségek</a></li>
                <li><a href="/index-login#about-us">Bemutatkozás</a></li>
                <li><a href="/index-login#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/cart-login"><i class="fa-solid fa-basket-shopping" style="font-size:35px;color:white;margin:0;"></i></a>
                </li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="log-out"><i class="fa fa-arrow-right-from-bracket" style="font-size:35px;color:white;margin:0;"></i></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Memória</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/index-login" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard-login" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu-login" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu-login" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                       <a href="/ram-login" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd-login" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd-login" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power-login" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case-login" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product-55">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram1.png">
                        <img src="/img/products/ram/ram1.png" alt="RAM1">
                    </picture>
                    <h1>Crucial Pro RAM 32GB Kit</h1>
                    <div class="price-cart">
                        <p class="price">20,770 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-56">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram2.png">
                        <img src="/img/products/ram/ram2.png" alt="RAM2">
                    </picture>
                    <h1>Corsair VENGEANCE LPX DDR4 RAM 32GB</h1>
                    <div class="price-cart">
                        <p class="price">27,000 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-57">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram3.png">
                        <img src="/img/products/ram/ram3.png" alt="RAM3">
                    </picture>
                    <h1>CORSAIR VENGEANCE RGB DDR5 RAM 32GB</h1>
                    <div class="price-cart">
                        <p class="price">38,080 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-58">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram4.png">
                        <img src="/img/products/ram/ram4.png" alt="RAM4">
                    </picture>
                    <h1>Lexar THOR 16GB (2x8GB) DDR4 RAM</h1>
                    <div class="price-cart">
                        <p class="price">11,770Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-59">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram5.png">
                        <img src="/img/products/ram/ram5.png" alt="RAM5">
                    </picture>
                    <h1>Lexar ARES RGB 32GB (2x16GB) DDR4 RAM</h1>
                    <div class="price-cart">
                        <p class="price">24,240 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-60">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram6.png">
                        <img src="/img/products/ram/ram6.png" alt="RAM6">
                    </picture>
                    <h1>Patriot Memory Viper Steel RGB DDR4 16GB (2 x 8GB)</h1>
                    <div class="price-cart">
                        <p class="price">16,270 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-61">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram7.png">
                        <img src="/img/products/ram/ram7.png" alt="RAM7">
                    </picture>
                    <h1>CORSAIR VENGEANCE DDR5 RAM 64GB (2x32GB)</h1>
                    <div class="price-cart">
                        <p class="price">65,780 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-62">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram8.png">
                        <img src="/img/products/ram/ram8.png" alt="RAM8">
                    </picture>
                    <h1>Crucial Pro RAM 64GB Kit DDR4</h1>
                    <div class="price-cart">
                        <p class="price">37,391 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="product product-63">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram9.png">
                        <img src="/img/products/ram/ram9.png" alt="RAM9">
                    </picture>
                    <h1>Crucial Pro RAM 96GB Kit (2x48GB) DDR5</h1>
                    <div class="price-cart">
                        <p class="price">101,250 Ft</p>
                        <button class="cart">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>