<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/products.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/">Főoldal</a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/login"><i class="fa fa-sign-in" style="font-size:40px;color:white;margin:0;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">SSD</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item active-site">
                        <a href="/ssd" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product1">
                    <img src="/img/products/ssd/ssd1.png" alt="SSD1">
                    <h1>Kingston FURY Renegade 1TB NVMe M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">41,550 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product2">
                    <img src="/img/products/ssd/ssd2.png" alt="SSD2">
                    <h1>WD_BLACK 1TB SN850X NVMe Internal Gaming SSD</h1>
                    <div class="price-cart">
                        <p class="price">29,430 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product3">
                    <img src="/img/products/ssd/ssd3.png" alt="SSD3">
                    <h1>Crucial P3 1TB PCIe Gen3 3D NAND NVMe M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">19,740 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product4">
                    <img src="/img/products/ssd/ssd4.png" alt="SSD4">
                    <h1>Corsair MP600 PRO LPX 2TB M.2 NVMe PCIe x4 Gen4 SSD</h1>
                    <div class="price-cart">
                        <p class="price">48,480 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product5">
                    <img src="/img/products/ssd/ssd5.png" alt="SSD5">
                    <h1>ADATA 1TB SSD Legend 800, NVMe PCIe Gen4 x 4 M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">20,080 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product6">
                    <img src="/img/products/ssd/ssd6.png" alt="SSD6">
                    <h1>WD_BLACK 1TB SN850X NVMe SSD</h1>
                    <div class="price-cart">
                        <p class="price">32,890 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product7">
                    <img src="/img/products/ssd/ssd7.png" alt="SSD7">
                    <h1>SAMSUNG 970 EVO Plus SSD 500GB NVMe M.2</h1>
                    <div class="price-cart">
                        <p class="price">20,770 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product8">
                    <img src="/img/products/ssd/ssd8.png" alt="SSD8">
                    <h1>Patriot P300 M.2 PCIe Gen 3 x4 512GB SSD</h1>
                    <div class="price-cart">
                        <p class="price">10,730 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product9">
                    <img src="/img/products/ssd/ssd9.png" alt="SSD9">
                    <h1>fanxiang S880 2TB NVMe SSD M.2 2280 Gaming SSD -</h1>
                    <div class="price-cart">
                        <p class="price">45,010 Ft</p>
                        <a href="index.html"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1"target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>