<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCY - Your number one place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/webshop.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="/js/webshop.js" defer></script>
    <script src="https://kit.fontawesome.com/f5d27edf17.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logoDiv"><a href="/"><img src="/img/logo.png" alt="Logo" title="Logo" class="logo"></a></div>
            <div class="hamburger">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <ul class="menu">
                <li><a href="/">Főoldal</a></li>
                <li><a href="/#strengths">Erősségek</a></li>
                <li><a href="/#about-us">Bemutatkozás</a></li>
                <li><a href="/#references">Referenciák</a></li>
                <li><a href="/webshop">Webshop</a></li>
            </ul>
            <ul class="login-button">
                <li>
                    <a href="/cart"><i class="fa-solid fa-basket-shopping" style="font-size:35px;color:white;margin:0;"></i></a>
                </li>
                <li>
                    <a href="/login" id="buttonLog"><i class="fa fa-sign-in" style="font-size:40px;color:white;margin:0;"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="header">Kínálatunk</h1>
        <div class="content">
            <div class="hamburger-product">
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
                <span class="hamburger-item"></span>
            </div>
            <section class="webshop-nav">
                <ul class="webshop-nav-ul">
                    <li class="nav-item nav-item-header">
                        <a href="/" class="nav-link nav-link-header">
                            <span class="link-item-header">PCY</span>
                            <i class="fa fa-arrow-right-long" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/motherboard" class="nav-link">
                            <i class="fa fa-robot" aria-hidden="true"></i>
                            <span class="link-item">Alaplap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/cpu" class="nav-link">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span class="link-item">CPU + hűtő</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gpu" class="nav-link">
                            <i class="fa fa-display" aria-hidden="true"></i>
                            <span class="link-item">Videókártya</span>
                        </a>
                    </li>
                    <li class="nav-item">
                       <a href="/ram" class="nav-link">
                            <i class="fa fa-memory" aria-hidden="true"></i>
                            <span class="link-item">Memória</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ssd" class="nav-link">
                            <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                            <span class="link-item">SSD meghajtó</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hdd" class="nav-link">
                            <i class="fa fa-hdd" aria-hidden="true"></i>
                            <span class="link-item">Merevlemez</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/power" class="nav-link">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <span class="link-item">Tápegység</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/case" class="nav-link">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span class="link-item">Számítógépház</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="webshop-products">
                <div class="product product-1 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case1.png">
                        <img src="/img/products/case/case1.png" alt="Case1">
                    </picture>
                    <h1>NZXT H6 Flow RGB | CC-H61FB-R1</h1>
                    <div class="price-cart">
                        <p class="price">46,740 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-2 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case2.png">
                        <img src="/img/products/case/case2.png" alt="Case2">
                    </picture>
                    <h1>NZXT H6 Flow | CC-H61FB-01 | Compact Dual-Chamber Mid-Tower Airflow Case</h1>
                    <div class="price-cart">
                        <p class="price">38,085 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-3 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case3.png">
                        <img src="/img/products/case/case3.png" alt="Case3">
                    </picture>
                    <h1>GAMDIAS ATX Mid Tower Gaming Computer PC Case </h1>
                    <div class="price-cart">
                        <p class="price">20,310 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-4 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case4.png">
                        <img src="/img/products/case/case4.png" alt="Case4">
                    </picture>
                    <h1>Antec NX200 M, Micro-ATX Tower, Mini-Tower Computer Case</h1>
                    <div class="price-cart">
                        <p class="price">24,230 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-5 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case5.png">
                        <img src="/img/products/case/case5.png" alt="Case5">
                    </picture>
                    <h1>MUSETEX ATX PC Case,5 PWM ARGB Fans Pre-Installed</h1>
                    <div class="price-cart">
                        <p class="price">38,085 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-6 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case6.png">
                        <img src="/img/products/case/case6.png" alt="Case6">
                    </picture>
                    <h1>ASUS TUF Gaming GT501 Mid-Tower Computer Case</h1>
                    <div class="price-cart">
                        <p class="price">54,450 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-7 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case7.png">
                        <img src="/img/products/case/case7.png" alt="Case7">
                    </picture>
                    <h1>MUSETEX ATX PC Case, 6 PWM ARGB Fans Pre-Installed</h1>
                    <div class="price-cart">
                        <p class="price">41,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-8 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case8.png">
                        <img src="/img/products/case/case8.png" alt="Case8">
                    </picture>
                    <h1>MSI Premium Mid-Tower PC Gaming Case</h1>
                    <div class="price-cart">
                        <p class="price">54,590 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-9 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/case/case9.png">
                        <img src="/img/products/case/case9.png" alt="Case9">
                    </picture>
                    <h1>AMANSON ATX PC Case,Mid-Tower USB 3.0 Gaming 270° Full View Tempered Glass Mid Tower</h1>
                    <div class="price-cart">
                        <p class="price">33,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-10 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cpu/ryzen/cpu1.png">
                        <img src="/img/products/cpu/ryzen/cpu1.png" alt="CPU1">
                    </picture>
                    <h1>AMD Ryzen 7 5700G</h1>
                    <div class="price-cart">
                        <p class="price">120,200 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-11 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cpu/ryzen/cpu2.png">
                        <img src="/img/products/cpu/ryzen/cpu2.png" alt="CPU2">
                    </picture>
                    <h1>AMD Ryzen 7 5800X</h1>
                    <div class="price-cart">
                        <p class="price">130,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-12 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cpu/intel/cpu1.png">
                        <img src="/img/products/cpu/intel/cpu1.png" alt="CPU3">
                    </picture>
                    <h1>Intel Core i9-12900K</h1>
                    <div class="price-cart">
                        <p class="price">131,210 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-13 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cpu/intel/cpu2.png">
                        <img src="/img/products/cpu/intel/cpu2.png" alt="CPU4">
                    </picture>
                    <h1>Intel Core i7-12700KF</h1>
                    <div class="price-cart">
                        <p class="price">55,340 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-14 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cooler/cooler1.png">
                        <img src="/img/products/cooler/cooler1.png" alt="Cooler1">
                    </picture>
                    <h1>NZXT Kraken 240</h1>
                    <div class="price-cart">
                        <p class="price">44,310 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-15 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cooler/cooler2.png">
                        <img src="/img/products/cooler/cooler2.png" alt="Cooler2">
                    </picture>
                    <h1>Thermalright Peerless Assassin</h1>
                    <div class="price-cart">
                        <p class="price">11,730 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-16 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cooler/cooler3.png">
                        <img src="/img/products/cooler/cooler3.png" alt="Cooler3">
                    </picture>
                    <h1>Thermalright Frozen Notte 240</h1>
                    <div class="price-cart">
                        <p class="price">20,730 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-17 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cooler/cooler4.png">
                        <img src="/img/products/cooler/cooler4.png" alt="Cooler4">
                    </picture>
                    <h1>ASUS ROG Strix LC II 360</h1>
                    <div class="price-cart">
                        <p class="price">51,920 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-18 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/cooler/cooler5.png">
                        <img src="/img/products/cooler/cooler5.png" alt="Cooler5">
                    </picture>
                    <h1>be quiet! Dark Rock Pro 4</h1>
                    <div class="price-cart">
                        <p class="price">24,200 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-19 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu1.png">
                        <img src="/img/products/gpu/gpu1.png" alt="GPU1">
                    </picture>
                    <h1>GIGABYTE GeForce RTX 3060</h1>
                    <div class="price-cart">
                        <p class="price">130,450 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-20 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu2.png">
                        <img src="/img/products/gpu/gpu2.png" alt="GPU2">
                    </picture>
                    <h1>ASUS Dual GeForce RTX 4060 Ti</h1>
                    <div class="price-cart">
                        <p class="price">141,950 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-21 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu3.png">
                        <img src="/img/products/gpu/gpu3.png" alt="GPU3">
                    </picture>
                    <h1>GIGABYTE GeForce RTX 4070 Ti</h1>
                    <div class="price-cart">
                        <p class="price">270,040 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-22 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu4.png">
                        <img src="/img/products/gpu/gpu4.png" alt="GPU4">
                    </picture>
                    <h1>ASUS NVIDIA GeForce RTX 3050</h1>
                    <div class="price-cart">
                        <p class="price">83,080 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-23 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu5.png">
                        <img src="/img/products/gpu/gpu5.png" alt="GPU5">
                    </picture>
                    <h1>ASUS NVIDIA GeForce RTX 4070 </h1>
                    <div class="price-cart">
                        <p class="price">225,030 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-24 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu6.png">
                        <img src="/img/products/gpu/gpu6.png" alt="GPU6">
                    </picture>
                    <h1>AMD Radeon RX 6600</h1>
                    <div class="price-cart">
                        <p class="price">72,700 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-25 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu7.png">
                        <img src="/img/products/gpu/gpu7.png" alt="GPU7">
                    </picture>
                    <h1>AMD Radeon RX 6700 XT</h1>
                    <div class="price-cart">
                        <p class="price">114,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-26 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu8.png">
                        <img src="/img/products/gpu/gpu8.png" alt="GPU8">
                    </picture>
                    <h1>AMD Radeon RX 6800 </h1>
                    <div class="price-cart">
                        <p class="price">145,630 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-27 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/gpu/gpu9.png">
                        <img src="/img/products/gpu/gpu9.png" alt="GPU9">
                    </picture>
                    <h1>AMD Radeon RX 6750XT </h1>
                    <div class="price-cart">
                        <p class="price">131,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-28 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd1.png">
                        <img src="/img/products/hdd/hdd1.png" alt="HDD1">
                    </picture>
                    <h1>Seagate BarraCuda 2TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">29,520 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-29 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd2.png">
                        <img src="/img/products/hdd/hdd2.png" alt="HDD2">
                    </picture>
                    <h1>Seagate IronWolf Pro, 4 TB, Enterprise NAS Internal HDD</h1>
                    <div class="price-cart">
                        <p class="price">53,660 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-30 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd3.png">
                        <img src="/img/products/hdd/hdd3.png" alt="HDD3">
                    </picture>
                    <h1>Seagate BarraCuda 4TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">29,420 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-31 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd4.png">
                        <img src="/img/products/hdd/hdd4.png" alt="HDD4">
                    </picture>
                    <h1>Western Digital 8TB WD Blue PC Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">45,010 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-32 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd5.png">
                        <img src="/img/products/hdd/hdd5.png" alt="HDD5">
                    </picture>
                    <h1>Seagate FireCuda HDD 8TB Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">58,510 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-33 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd6.png">
                        <img src="/img/products/hdd/hdd6.png" alt="HDD6">
                    </picture>
                    <h1>Western Digital 10TB WD Red Plus NAS Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">68,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-34 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd7.png">
                        <img src="/img/products/hdd/hdd7.png" alt="HDD7">
                    </picture>
                    <h1>Seagate IronWolf 12TB NAS Internal Hard Drive HDD</h1>
                    <div class="price-cart">
                        <p class="price">79,290 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-35 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd8.png">
                        <img src="/img/products/hdd/hdd8.png" alt="HDD8">
                    </picture>
                    <h1>Seagate IronWolf Pro 22TB Enterprise NAS Internal HDD Hard Drive</h1>
                    <div class="price-cart">
                        <p class="price">120,380 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-36 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/hdd/hdd9.png">
                        <img src="/img/products/hdd/hdd9.png" alt="HDD9">
                    </picture>
                    <h1>WD 5TB Elements Portable HDD, External Hard Drive</h1>
                    <div class="price-cart">
                        <p class="price">41,560 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-37 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard1.png">
                        <img src="/img/products/motherboard/motherboard1.png" alt="Motherboard1">
                    </picture>
                    <h1>Gigabyte B550 Gaming X V2</h1>
                    <div class="price-cart">
                        <p class="price">45,000 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-38 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard2.png">
                        <img src="/img/products/motherboard/motherboard2.png" alt="Motherboard2">
                    </picture>
                    <h1>Asus ROG Strix B550-F</h1>
                    <div class="price-cart">
                        <p class="price">65,700 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-39 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard3.png">
                        <img src="/img/products/motherboard/motherboard3.png" alt="Motherboard3">
                    </picture>
                    <h1>ASUS PRIME B760M</h1>
                    <div class="price-cart">
                        <p class="price">43,200 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-40 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard4.png">
                        <img src="/img/products/motherboard/motherboard4.png" alt="Motherboard4">
                    </picture>
                    <h1>Gigabyte B550 AORUS ELITE AX V2</h1>
                    <div class="price-cart">
                        <p class="price">55,340 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-41 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard5.png">
                        <img src="/img/products/motherboard/motherboard5.png" alt="Motherboard5">
                    </picture>
                    <h1>MSI B550-A PRO ProSeries</h1>
                    <div class="price-cart">
                        <p class="price">41,500 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-42 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard6.png">
                        <img src="/img/products/motherboard/motherboard6.png" alt="Motherboard6">
                    </picture>
                    <h1>MSI MAG B550 TOMAHAWKH</h1>
                    <div class="price-cart">
                        <p class="price">55,350 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-43 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard7.png">
                        <img src="/img/products/motherboard/motherboard7.png" alt="Motherboard7">
                    </picture>
                    <h1>ASUS ROG Strix Z790</h1>
                    <div class="price-cart">
                        <p class="price">124,540 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-44 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard8.png">
                        <img src="/img/products/motherboard/motherboard8.png" alt="Motherboard8">
                    </picture>
                    <h1>ASUS TUF Gaming Z590-Plus</h1>
                    <div class="price-cart">
                        <p class="price">65,380 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-45 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/motherboard/motherboard9.png">
                        <img src="/img/products/motherboard/motherboard9.png" alt="Motherboard9">
                    </picture>
                    <h1>ASRock B450M-HDV2</h1>
                    <div class="price-cart">
                        <p class="price">27,670 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-46 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power1.png">
                        <img src="/img/products/power/power1.png" alt="Power1">
                    </picture>
                    <h1>be quiet! BN516 Straight Power 12-1000w 80 Plus Platinum, ATX 3.0, Modular Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">78,820 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-47 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power2.png">
                        <img src="/img/products/power/power2.png" alt="Power2">
                    </picture>
                    <h1>be quiet! BN513 Pure Performance Power 12 M 1200W Modular Quiet Performance Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">61,900 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-48 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power3.png">
                        <img src="/img/products/power/power3.png" alt="Power3">
                    </picture>
                    <h1>Apevia SPIRIT600W Spirit 600W ATX Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">38,080 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-49 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power4.png">
                        <img src="/img/products/power/power4.png" alt="Power4">
                    </picture>
                    <h1>MSI MAG A650BN Gaming Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">24,230 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-50 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power5.png">
                        <img src="/img/products/power/power5.png" alt="Power5">
                    </picture>
                    <h1>Corsair CX-M Series, CX650M, Modular Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">27,700 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-51 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power6.png">
                        <img src="/img/products/power/power6.png" alt="Power6">
                    </picture>
                    <h1>Apevia ATX-JP600W Jupiter 600W 80 Plus Bronze Certified Active PFC ATX Gaming Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">15,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-52 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power7.png">
                        <img src="/img/products/power/power7.png" alt="Power7">
                    </picture>
                    <h1>Corsair RM850e (2023) Fully Modular Low-Noise Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">41,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-53 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power8.png">
                        <img src="/img/products/power/power8.png" alt="Power8">
                    </picture>
                    <h1>Redragon PSU007 80+ Gold 850 Watt ATX Fully Modular Power Supply</h1>
                    <div class="price-cart">
                        <p class="price">43,280 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-54 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/power/power9.png">
                        <img src="/img/products/power/power9.png" alt="Power9">
                    </picture>
                    <h1>POINWER 850 Watt Power Supply 80 Plus Gold</h1>
                    <div class="price-cart">
                        <p class="price">36,350 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-55 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram1.png">
                        <img src="/img/products/ram/ram1.png" alt="RAM1">
                    </picture>
                    <h1>Crucial Pro RAM 32GB Kit</h1>
                    <div class="price-cart">
                        <p class="price">20,770 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-56 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram2.png">
                        <img src="/img/products/ram/ram2.png" alt="RAM2">
                    </picture>
                    <h1>Corsair VENGEANCE LPX DDR4 RAM 32GB</h1>
                    <div class="price-cart">
                        <p class="price">27,000 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-57 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram3.png">
                        <img src="/img/products/ram/ram3.png" alt="RAM3">
                    </picture>
                    <h1>CORSAIR VENGEANCE RGB DDR5 RAM 32GB</h1>
                    <div class="price-cart">
                        <p class="price">38,080 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-58 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram4.png">
                        <img src="/img/products/ram/ram4.png" alt="RAM4">
                    </picture>
                    <h1>Lexar THOR 16GB (2x8GB) DDR4 RAM</h1>
                    <div class="price-cart">
                        <p class="price">11,770Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-59 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram5.png">
                        <img src="/img/products/ram/ram5.png" alt="RAM5">
                    </picture>
                    <h1>Lexar ARES RGB 32GB (2x16GB) DDR4 RAM</h1>
                    <div class="price-cart">
                        <p class="price">24,240 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-60 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram6.png">
                        <img src="/img/products/ram/ram6.png" alt="RAM6">
                    </picture>
                    <h1>Patriot Memory Viper Steel RGB DDR4 16GB (2 x 8GB)</h1>
                    <div class="price-cart">
                        <p class="price">16,270 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-61 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram7.png">
                        <img src="/img/products/ram/ram7.png" alt="RAM7">
                    </picture>
                    <h1>CORSAIR VENGEANCE DDR5 RAM 64GB (2x32GB)</h1>
                    <div class="price-cart">
                        <p class="price">65,780 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-62 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram8.png">
                        <img src="/img/products/ram/ram8.png" alt="RAM8">
                    </picture>
                    <h1>Crucial Pro RAM 64GB Kit DDR4</h1>
                    <div class="price-cart">
                        <p class="price">37,391 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-63 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ram/ram9.png">
                        <img src="/img/products/ram/ram9.png" alt="RAM9">
                    </picture>
                    <h1>Crucial Pro RAM 96GB Kit (2x48GB) DDR5</h1>
                    <div class="price-cart">
                        <p class="price">101,250 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-64 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd1.png">
                        <img src="/img/products/ssd/ssd1.png" alt="SSD1">
                    </picture>
                    <h1>Kingston FURY Renegade 1TB NVMe M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">41,550 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-65 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd2.png">
                        <img src="/img/products/ssd/ssd2.png" alt="SSD2">
                    </picture>
                    <h1>WD_BLACK 1TB SN850X NVMe Internal Gaming SSD</h1>
                    <div class="price-cart">
                        <p class="price">29,430 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-66 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd3.png">
                        <img src="/img/products/ssd/ssd3.png" alt="SSD3">
                    </picture>
                    <h1>Crucial P3 1TB PCIe Gen3 3D NAND NVMe M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">19,740 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-67 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd4.png">
                        <img src="/img/products/ssd/ssd4.png" alt="SSD4">
                    </picture>
                    <h1>Corsair MP600 PRO LPX 2TB M.2 NVMe PCIe x4 Gen4 SSD</h1>
                    <div class="price-cart">
                        <p class="price">48,480 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-68 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd5.png">
                        <img src="/img/products/ssd/ssd5.png" alt="SSD5">
                    </picture>
                    <h1>ADATA 1TB SSD Legend 800, NVMe PCIe Gen4 x 4 M.2 SSD</h1>
                    <div class="price-cart">
                        <p class="price">20,080 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-69 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd6.png">
                        <img src="/img/products/ssd/ssd6.png" alt="SSD6">
                    </picture>
                    <h1>WD_BLACK 1TB SN850X NVMe SSD</h1>
                    <div class="price-cart">
                        <p class="price">32,890 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-70 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd7.png">
                        <img src="/img/products/ssd/ssd7.png" alt="SSD7">
                    </picture>
                    <h1>SAMSUNG 970 EVO Plus SSD 500GB NVMe M.2</h1>
                    <div class="price-cart">
                        <p class="price">20,770 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-71 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd8.png">
                        <img src="/img/products/ssd/ssd8.png" alt="SSD8">
                    </picture>
                    <h1>Patriot P300 M.2 PCIe Gen 3 x4 512GB SSD</h1>
                    <div class="price-cart">
                        <p class="price">10,730 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product product-72 hidden">
                    <picture>
                        <source media="(min-width:600px)" srcset="/img/products/ssd/ssd9.png">
                        <img src="/img/products/ssd/ssd9.png" alt="SSD9">
                    </picture>
                    <h1>fanxiang S880 2TB NVMe SSD M.2 2280 Gaming SSD</h1>
                    <div class="price-cart">
                        <p class="price">45,010 Ft</p>
                        <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <ul class="main-footer">
            <li>Telefon: +36304990215</li>
            <li>Email: pcy@gmail.com</li>
            <li>Cím: 5600 Békéscsaba, Kazinczy utca 7.</li>
        </ul>
        <ul class="social-media">
            <li>
                <a href="https://www.instagram.com/benderchonkycat_official?igsh=aXp5d3RyMWxidHQ1" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61551826350069" target="_blank"><i class="fa-brands fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@thezachchoi" target="_blank"><i class="fa-brands fa-tiktok"></i>
                    <span>TikTok</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>