@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


.cart-status {
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Space Grotesk';
    font-size: 1.5rem;
    display: none;
}

.main-cart-plus {
    min-height: 100vh;
    color: white;
    font-family: 'Space Grotesk';
}

.main-cart-zero {
    min-height: 70vh;
    color: white;
    font-family: 'Space Grotesk';
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    width: 90%;
    border-bottom: 1px gray solid;
    padding: 15px;
}

.product:first-child {
    margin-top: 30px;
}

.product img {
    width: 20%;
    height: auto;
    border-radius: 0;
}

.name {
    margin: 0 40px;
    font-weight: bold;
}

.plus-minus-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

.plus-minus-div:nth-child(1) {
    margin: 20px;
}

.plus-minus {
    display: flex;
    justify-content: flex-end;
}

.minus, .plus {
    height: 30px;
    background: transparent;
    border: 1px solid gray;
    cursor: pointer;
}

.input-plus-minus {
    height: 26px;
    width: 20px;
    background: transparent;
    color: white;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
}

.remove {
    background: transparent;
    color: rgb(220, 80, 80);
    font-family: 'Space Grotesk';
    cursor: pointer;
    border: none;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 20px 50px 20px 0;
}

.final ul {
    list-style: none;
}

.final ul li {
    padding: 10px;
}

.final-price {
    font-size: 1.6rem;
}

.final-button {
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Space Grotesk';
    padding: 10px;
    background-color: rgb(135, 124, 110);
    border-radius: 8px;
    transition: 400ms ease-in;
    color: rgb(238, 230, 230);
    font-weight: bold;
    border: 1px solid rgb(135, 124, 110);
}

.final-button:hover {
    transform: translateY(-4px);
    background-color: rgb(114, 105, 93);
}


@media (max-width: 1000px) {
    .product {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .product img {
        width: 60%;
    }

    .name {
        margin: 30px 0;
    }

    .plus-minus-div {
        align-items: flex-end;
        width: 100%;
    }

    .final {
        align-items: center;
        justify-content: center;
    }
}