.main-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: ease-in-out 1.2s;
}

.motto {
    font-size: 2rem;
    color: rgb(240, 233, 233);
    font-family: 'Verdana';
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    margin: 100px 0;
    color: rgb(207, 207, 207);
    background-color: white;
    box-shadow: 5px -5px 30px white;
    width: auto;
    opacity: 0;
    transition: ease-in-out 1.2s;
}

input {
    margin: 10px 10px 0 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    width: 93%;
}

.span {
    color: black;
    font-family: 'Arial';
    margin: 10px;
}

.span:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 350ms ease-in-out;
    background-color: rgb(170, 170, 170);
    font-weight: bold;
}

.register-button {
    margin-bottom: 10px;
}

button:hover {
    transform: translateY(-5px);
}

@media (max-width: 1040px) {
    .person1 img, .person2 img {
        display: none;
    }

    .person1, .person2 {
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .person1 p, .person2 p {
        font-size: 1rem;
    }

    .main-login {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}