@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


.test {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger-product {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 138px;
    transition: 350ms ease-in-out;
    cursor: pointer;
}

.hamburger-product .hamburger-item {
    background: white;
    height: 3px;
    width: 2rem;
    margin: 4px;
    border-radius: 10px;
}

section {
    border: none;
}

section:not(:last-child) {
    border: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.webshop-nav {
    display: flex;
    background-color: rgb(55, 53, 53);
    transition: width 400ms ease;
    width: 75px;
    margin-bottom: 20px;
    height: 100%;
    border-radius: 15px;
}

.webshop-nav:hover {
    width: 20rem;
}

.webshop-nav:hover .link-item, .webshop-nav:hover .link-item-header {
    display: block;
}

.webshop-nav:hover .fa-arrow-right-long {
    transform: rotate(-180deg);
}

.webshop-nav .webshop-nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    transition: ease-in-out 1.2s;
    list-style: none;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 250ms ease-in;
    border-radius: 20px;
}

.nav-item.active-site {
    background-color: rgb(93, 74, 74);
}

.nav-item:hover {
    background-color: rgb(102, 99, 99);
}

.nav-item:first-child {
    margin-bottom: auto;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item .link-item:hover {
    text-decoration: underline;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.nav-link-header {
    font-size: 3.8rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-family: 'Space Grotesk';
}

.fa {
    font-size: 2rem;
    color: white;
    margin: 10px;
}

.fa-arrow-right-long {
    transform: rotate(0deg);
    transition: 700ms transform;
}

.link-item-header{
    display: none;
}

.link-item {
    display: none;
}

.webshop-products {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    height: 60%;
    width: 100%;
    margin-bottom: 20px;
}

.webshop-products [class^="product"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 1px solid rgb(208, 204, 204);
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-size: .7rem;
    cursor: pointer;
    transition: .8s ease-in-out;
    opacity: 0;
}

.webshop-products [class^="product"]:hover {
    background-color: rgb(104, 100, 100);
}



.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.price-cart .price {
    font-size: 1.5rem;
}

.price-cart i {
    transition: 500ms ease-in-out;
}

.price-cart i:hover {
    transform: translateY(-10px);
}


@media (max-width: 1425px) {
    .content {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .hamburger-product {
        display: flex;
    }

    main {
        flex-direction: column;
    }

    section {
        margin: 20px;
    }

    .webshop-nav {
        display: none;
    }

    .webshop-nav.active {
        display: flex;
        width: 100%;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100vh;
        background-color: rgb(55, 53, 53);
        margin: 0;
        padding: 0;
    }

    .webshop-nav.active .webshop-nav-ul {
        flex-direction: column;
        height: 100vh;
        padding: 10px;
    }
    
    .fa {
        font-size: 1.6rem;
        color: white;
        margin: 10px;
    }

    .link-item-header, .link-item {
        display: block;
    }

    .webshop-products {
        grid-template-columns: repeat(2, 50%);
        margin: 0 0 20px 0;
    }

    .webshop-products [class^="product"] {
        font-size: .7rem;
    }

    .price-cart .price {
        font-size: 1.2rem;
    }
}

@media (max-width: 570px) {
    .header {
        font-size: 2rem;
        margin: 100px;
    }
}

@media (max-width: 540px) {
    .nav-link {
        padding: 0;
    }

    .fa {
        font-size: 1.3rem;
    }

    .webshop-products {
        grid-template-columns: repeat(1, 100%);
        margin: 0 0 20px 0;
    }
}

@media (max-width: 470px) {
    .hamburger-product {
        top: 125px;
    }
}