@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

section {
    border: none;
}

section:not(:last-child) {
    border: none;
}

img {
    border-radius: 10px;
}

.webshop-nav ul {
    border: 2px white solid;
    display: flex;
    margin: 30px 0;
    font-size: 1.7rem;
    transition: ease-in-out 1.2s;
    list-style: none;
    border-radius: 10px;
}

.webshop-nav li {
    padding: 10px;
}

.webshop-nav li a:hover {
    text-decoration: underline;
}

.webshop-products {
    display: grid;
    grid-template-columns: repeat(2, 450px);
}

.webshop-products [class^="product"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 1px solid rgb(208, 204, 204);
    padding: 10px 50px;
    font-family: 'Montserrat';
    font-size: .7rem;
    cursor: pointer;
    transition: .8s ease-in-out;
    opacity: 0;
}

.webshop-products [class^="product"]:hover {
    background-color: rgb(104, 100, 100);
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.price-cart p {
    font-size: 1.5rem;
}

.price-cart i {
    transition: 500ms ease-in-out;
}

.price-cart i:hover {
    transform: translateY(-10px);
}